@import "../../styles/variables";

.Left {
  border-radius: 50px;
  padding: 40px 30px;
  background-color: rgba(34, 29, 52, 0.7);
}

.Buzz {
  margin-bottom: 24px;
  text-align: center;
}

.Intro {
  margin-bottom: 45px;
}

.Bold {
  font-weight: 700;
}

.Link {
  text-decoration: none;
  color: $ziggurat-blue;
  &:hover,
  :visited {
    color: $white;
  }
}

.Wrapper {
  margin: 0 20px;
}

@include large {
  .Wrapper {
    margin: 0;
  }
}
