@import "../../styles/variables";

.Date {
  color: $steel-grey;
  font-weight: 400;
  margin-top: 150px;
}

.ExternalLink {
  color: $white;
  text-decoration: none;
  font-family: $Montserrat;
  font-weight: 100;

  &:hover,
  &:visited {
    color: $ziggurat-blue;
  }
}

.TwtichEmbed {
  max-width: 100%;
}

.MainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(34, 29, 52, 0.7);
  padding: 20px;
}

.HeadingTemp {
  font-weight: 700;
}

.Vibe {
  margin-bottom: 24px;
}
