@import "../../styles/variables";

.ExternalLink {
  color: $opium-pink;
  text-decoration: none;
  font-family: $Montserrat;
  font-weight: 100;
  font-size: 14px;

  &:hover {
    color: $white;
  }

  &:visited {
    color: $opium-pink;
  }
}
