@import "../../styles/variables";

.Header {
  background-color: #222;
  background-image: url("/bees.jpg");
  background-size: cover;
  color: white;
}

.Title {
  padding: 80px 20px;
  text-align: center;
}

.Content {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 45px;
}

.ShopDescription {
  margin: 45px 0;
}

@include medium {
  .Content {
    padding: 0;
  }
}
