@import "../../styles/variables";

.Market {
  background-color: $steel-grey;
  background-image: url("/bees.jpg");
  background-size: cover;
}

.Header {
  color: white;
}

.Title {
  padding: 80px 20px;
  text-align: center;
}

.Products {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 45px;
}

.Content {
  padding: 24px 20px;
  background-color: white;
}

.ShopDescription {
  margin: 45px 0;
}

@include large {
  .Content {
    padding: 24px 0;
  }
}
