.StreamControls {
  background-color: black;
  display: flex;
  justify-content: flex-end;
}

.ChatButton {
  color: white;
  font-size: 14px;
  background-color: transparent;
  border: none;
  padding: 10px;
}
