@import "../../styles/variables";

.Nav {
  position: absolute;
  background-color: rgba(34, 29, 52, 0.7);
  width: 100%;
}

.NavLinks {
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 20px;
}

.Links {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.LinkWrapper {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.Link {
  color: $ziggurat-blue;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;

  &:hover {
    color: $bermuda-grey;
  }
}

@include medium {
  .Links {
    justify-content: flex-start;
  }

  .NavLinks {
    padding: 0;
  }
}
