@import "../../styles/variables";

.Left {
  border-radius: 50px;
  padding: 20px;
  background-color: rgba(34, 29, 52, 0.7);
}

.Gif {
  margin: 0 auto;
  max-width: 300px;
  margin-bottom: 30px;
}

.Bowness {
  width: 100%;
  max-width: 500px;
}

.Intro {
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Bold {
  font-weight: 700;
}

.Event {
  margin-left: 10px;
  width: 50%;
  text-align: right;
}

.TimelineEvent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.List {
  color: white;
}

.ListItem {
  font-size: 25px;
}

.Link {
  text-decoration: none;
  color: white;
  &:hover,
  :visited {
    color: $ziggurat-blue;
  }
}

.Wrapper {
  margin: 0 20px;
}

.Section {
  margin-bottom: 30px;
}

.Time {
  display: block;
}

@include large {
  .Wrapper {
    margin: 0;
  }

  .Left {
    padding: 40px 30px;
  }

  .Time {
    display: inline;
  }

  .TimelineEvent {
    justify-content: initial;
  }

  .Event {
    text-align: left;
  }

  .Date {
    width: 300px;
  }
}
